* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fff;
  color: #222;
  line-height: 1.6;
  padding: 0 10%;
}

header {
  text-align: center;
  margin-top: 20px;
  border-bottom: 3px solid #d44600;
  padding-bottom: 10px;
}

header h1 {
  color: #d44600;
  font-size: 2em;
}

header h3 {
  color: #444;
  font-weight: normal;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.profile .info {
  flex: 2;
}

.profile .photo {
  flex: 1;
  text-align: right;
}

.profile img {
  width: 160px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

h2 {
  color: #d44600;
  margin-bottom: 10px;
}

section {
  margin-top: 30px;
}

.project {
  margin-bottom: 15px;
}

.project a {
  text-decoration: none;
  color: #0073e6;
}

.project a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #f5f5f5;
  border-top: 2px solid #d44600;
  color: #333;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #ccc;
}
